.all_seasons > input {
  width: 200px;
  height: 200px;
  display: none;
}

.all_seasons {
  display: block;
  font-family: "Bubblegum Sans", sans-serif;
  padding: 21px 43px;
  font-size: large;
  background-color:#273238;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
  color:#00B0C8;
  margin-left: 100px;
  padding-top: 22px;
  border-radius: 16px 16px 16px 16px;
  opacity: 8;
  border: 3px; 
  border-style:solid; 
  border-color:#CEFF24;
  cursor: pointer;
} 

.all_seasons:hover {
  background-color: rgb(166, 238, 93);
  transition-duration: 0.4s;
}

body{
  background-image: url("asset/backgroundrym.jpg");
  background-repeat: repeat;
  font-family: "Bubblegum Sans", sans-serif;
  font-size: larger;
  width: 100%;
  margin: 0;
}

.button_characters:hover {
  background-color: rgb(166, 238, 93);
  transition-duration: 0.4s;
}

.button_characters {
  background-color: #273238;
  color:#00B0C8;
  cursor: pointer;
  font-family: "Bubblegum Sans", sans-serif;
  font-size: larger;
  text-shadow: 1px 1px 1px #000;
  border: #CEFF24;
  padding: 17px 129px;
  border-radius: 8px;
  border-style: ridge;
  text-align: center;
  margin-left: 427px;
  margin-bottom: 19px;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

@media screen and (min-width: 600px) {
  .cards_char {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 900px) {
  .cards_char {
    flex: 1 1 calc(33% - 2rem);
  }
}

.cards_char {
  display: flex;
  box-shadow: 8px 9px 19px 20px rgba(0,0,0,0.2);
  border-radius: 30px;
}

.categories ul {
  display: inline-flex;
  padding: 0;
  list-style: none;
  opacity: .8;
  position: absolute;
}

.categories a {
  display: block;
  padding: 19px 40px;
  background-color:#273238;
  text-align: center;
  text-shadow: 1px 1px 1px #000;
  text-decoration: none;
  color:#00B0C8;
  margin-left: 97px;
  padding-top: 22px;
  border-radius: 16px 16px 16px 16px;
  opacity: 8;
}
.categories a:hover {
  background-color: rgb(166, 238, 93);
  transition-duration: 0.4s;
  opacity: 1.0;
}
.categories ul li ul {
  display: none;
  opacity: 8;
}
.categories ul li a:hover + ul, .categories ul li ul:hover {
  display: block;
  opacity: 8;
}

.container-slider{
  width: 100%;
  display: flex;
}

.container{
  width: 100%;
  overflow: hidden;
}

@media screen and (min-width: 768px 1024px) {
  .container-slider {
    flex: 1 1 calc(50% - 2rem);
  }
}

@media screen and (min-width: 300px) {
  .container-slider, container {
    flex: 1 1 calc(33% - 2rem);
  }
}

#container-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.credits > p {
  text-align: center;
  margin: 15px;
  margin-left: 269px;
}

#footer {
  background-image: url("asset/banner4footer.png");
  background-position: bottom;
  text-align: center;
  color: rgb(241, 250, 55);
  padding: 30px;
  padding-top: 180px;
  width: 1800px;
  margin-left: -582px;
  background-repeat: no-repeat;
  bottom: 0pt;
  left: 0pt;
}

.img-container img {
  height: 249px;
  border-radius: 50px;
  position: absolute;
  padding-top: 25px;
  padding-left: 13px;
  z-index: -1;
}

.main_menu {
  border:3px; 
  border-style:solid; 
  border-color:#CEFF24; 
  padding: 1em;
  cursor: pointer;
}

p {
  color: #00B0C8;
  font-size: 20px;
  display: flex;
  padding-left: 436px;
  margin-top: -24px;
}

.properties_characters span {
  color:#CEFF24;
  display: flex;
  padding-left: 285px;
  margin-top: 19px;
}

#seasons {
  display: none;
  width: 285px;
}

#wrapper_data {
  display: flex;
  margin-top: 150px;
  padding-left: 29px;
  padding-right: 34px;
}